[id^='tw-'][id$='-overlay'] {
  position: absolute;
  pointer-events: none;
  top: 0;
  width: 100%;
  height: 100%;
}

[id^='tw-'][id$='-upContainer'] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
}

[id^='tw-'][id$='-upContainer'] > button > svg {
  width: 15px;
}

[id^='tw-'][id$='-bottomContainer'] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  overflow: hidden;
}

[id^='tw-'][id$='-bottomContainer'] > button > svg {
  width: 15px;
}

[id^='tw-'][id$='-slider'] {
  pointer-events: auto;
  -webkit-box-flex: 4;
  -ms-flex-positive: 4;
  flex-grow: 4;
  width: 0 auto;
}

[id^='tw-'][id$='-sidebar'] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 0;
  background-color: green;
  pointer-events: none;
  opacity: 0%;
}
[id^='tw-'][id$='-sidebar'] > * {
  height: 100%;
}

[id^='tw-'][id$='-container'] {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

[id^='tw-'][id$='-wrapper'] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  pointer-events: none;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}

[id^='tw-'][id$='-container'] > div > button > svg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  pointer-events: auto;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  vertical-align: center;
}

[id^='tw-'][id$='-helper'] {
  pointer-events: none;
  width: clamp(50px, 10vw, 75px);
  margin-left: auto;
  padding: 5px;
}

[id^='tw-'][id$='-counter'] {
  color: black;
}

[id^='tw-'][id$='-buttonLeft'] {
  pointer-events: auto;
}

[id^='tw-'][id$='-buttonRight'] {
  pointer-events: auto;
}

[id^='tw-'][id$='-buttonStart'] {
  pointer-events: auto;
}

[id^='tw-'][id$='-buttonEnd'] {
  pointer-events: auto;
}

[id^='tw-'][id$='-buttonFullscreen'] {
  pointer-events: auto;
}
[id^='tw-'][id$='-buttonReset'] {
  pointer-events: auto;
}
